<div align="center">
    <table class="title">
        <tr><td>~ new entry ~</td></tr>
    </table>
    <form class="form" action="/add" method="POST">
     <table width="300px" align="center">
         <tr><td class="left">
            <input type="text" name="author">
            </td><td class="right">author</td>
         </tr>
     </table>
     <table width="300px" align="center">
         <tr><td class="left">
            <input type="text" name="title">
            </td><td class="right">title</td>
         </tr>
     </table>
     <table align="center">
         <tr>
            <textarea name="text"></textarea>
            <br>
            <input class="submit" type="submit">
         </tr>
     </table>
    </form>
</div>