$def with (news,user_name)

<p class="top_menu">
$if user_name:
    hi, $user_name
    ~ <a href="/logout">log out</a>
$else:
    <a href="/login">sign in</a>
~ <a href="/add">new entry</a>
</p>
<br>
$if news:
    $for entry in reversed(news):
        <div>
            <table class="title">
                <tr><td>~ $entry[0] ~</td></tr>
            </table>
            <table class="title">
                <tr><td class="author">by $entry[1]</td><td class="date" align="right">$entry[2]</td></tr>
            </table>
            <table class="title">
                <tr><td class="content">$entry[3]</td></tr>
                <tr><td>
                $if user_name:
                    <p class="top_menu"><a href="/rem?id=$entry[4]">remove</a></p>
                $else:
                    <br>
                </tr></td>
                <tr><td class="separator">~ ~ ~</tr></td>
                <tr><td><br></td></tr>
            </table>
        </div>
$else:
    <div>
        <table class="title">
                <tr><td class="center">no entires</td></tr>
        </table>
    </div>
