$def with (error)
<div>
    <table class="title">
        <tr><td>~ sign in ~</td></tr>
    </table>
    <form class="form" action="/login" method="POST">
        $if error:
            <table width="300px" align="center"><tr><td class="center"><p class="error">$error</p></td></tr></table>
     <table width="300px" align="center">
         <tr><td class="left">
            user name
            </td><td class="right"><input type="text" name="user_name"></td>
         </tr>
     </table>
     <table width="300px" align="center">
         <tr><td class="left">
            password
            </td><td class="right"><input type="password" name="password"></td>
         </tr>
     </table>

     <table align="center">
        <tr>
            <td class="center">
                <input class="submit" type="submit">
            </td>
        </tr>
     </table>

     </form>
</div>