<div class="center">
    <table class="center">
        <tr>
            <td>
            <p class="title">~ simpleCMSpy ~</p>
            </td>
        </tr>
        <tr>
            <td>
                a minimal content management system
            </td>
        </tr>
    </table>
    <br><p class="subtitle">~ initial setup ~</p>
    <form class="form" action="/setup" method="POST">
     <table width="300px" align="center">
         <tr><td class="left">
            user name
            </td><td class="right"><input type="text" name="user_name"></td>
         </tr>
     </table>
     <table width="300px" align="center">
         <tr><td class="left">
            password
            </td><td class="right"><input type="password" name="password"></td>
         </tr>
     </table>

     <table align="center">
        <tr>
            <input class="submit" type="submit">
        </tr>
     </table>

     </form>
</div>